
/assets
bot/_token.py
*.pyc
*.iml
*.xml
.DS_Store

.idea
__pycache__
*.py[cod]
*.svg
*.sqlite
*.out.sql
*.zip

/diplomacygm/target
/diplomacygm/assets
/bot
/diplomacy
/test
/diplomacygm/Cargo.lock

*.txt


test.py

main.py
